@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');


html {
  font-size: 20px;
}

body {
  font-family: georgia;
  background-color: beige;
  background-image: url('books.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

main {
  background: white;
  min-width: 300px;
  border-radius: 30px;
  overflow-y: auto;
  text-align: center;
  width: fit-content;
  max-width: 740px;
  padding: min(60px, 5%);
  border-radius: 30px;
}

section {
  padding: 0 50px;
}

h1 {
  font-family: 'Pirata One', cursive;
  font-size: 72px;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: 36px;
  margin-top: 1.3em;
  text-align: center;
}

h3 {
  font-size: 28px;
  text-align: center;
}

p {
  max-width: 40em;
  overflow-wrap: break-word;
}

li {
  padding-bottom: 15px;
}

ul {
  text-align: left;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.rsvp {
  text-align: center;
}

.left-aligned {
  margin-top: 30px;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: min(30px, 5%);
  row-gap: min(40px, 6vw);
}
.grid p:nth-child(odd) { /* left */
  text-align: right;
  font-weight: bold;
}
.grid p:nth-child(even) { /* right */
  text-align: left;
}
.grid p {
  margin: 0;
  min-width: 0;
}

.link__secret {
  text-decoration: none;
  color: black;
  cursor: default;
}
